* {
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title_box>h1 {
    color: orangered;
}

.title_box>span {}

.cheack>ul {
    width: 100%;

}

.check>ul>li {
    margin: 20px 0;
    font-size: 60px;
}

.check>ul>li>input {
    width: 60px;
    height: 60px;
}

.check>div {
    display: inline-block;
    width: 150px;
    height: 80px;
}

.check>div>span {
    font-size: 35px;
}

.check>div>input {
    width: 35px;
    height: 35px;
}

.check>div:last-child {
    width: 100%;
    display: block;
}

.check>div:last-child>input {
    width: 100px;
}

.title_box {
    line-height: 250%;
    margin-bottom: 30px;
}





.btn {
    width: 200px;
    height: 100px;
    background-color: tomato;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    border: none;
}

.result {
    margin-top: 50px;
    color: dodgerblue;
    font-size: 100px;
}

.howto {
    color: red;
}